.bg-container {
  background-color: #d946ef;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 200px;
  border-radius: 10px;
}
